.main-container{
    display: flex;
}

.splitscreen{
 border: 2px solid black;
    flex: 1;
    padding: 10px;
}

.pizza-container{
    max-height: 350px;
    max-width: 350px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    right: -2%;
  
    
}.pizza-base{
    
    height: 100%;
    width: 100%;
   
    
}
.ingredient{
    
    height: 100%;
    width: 100%;
    
    position: absolute;
}

.formzinho{
    cursor: pointer;
}